[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brif"]
	path = brif
	url = https://github.com/cran/brif
[submodule "bsnsing"]
	path = bsnsing
	url = https://github.com/profyliu/bsnsing
